.All{
    width: 375x;
    height: 667px;
    margin: 0;
    padding: 0;
    background-color: black;
}

.Oval1{
    position: absolute;
    width: 5.5px;
    height: 5.5px;
    left: 3.36px;
    top: 5px;

    background: #FFFFFF;
}

.YourArtMuseum{
    position: absolute;
    width: 220px;
    height: 150px;
    left: calc(50% - 220px/2 - 9.14px);
    top: calc(50% - 150px/2 + 69px);

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    
    color: #FCFCFC;

background-color: rgb(221, 19, 19);     
}

.SanFrancisco{
    position: absolute;
    width: 226px;
    height: 42px;
    left: calc(50% - 220px/2 - 9.14px);
    top: calc(50% - 42px/2 + 158px);

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;

    color: #FCFCFC;

background-color: rgb(15, 44, 209);  
}